<div class="center jumbotron">
  <%= image_tag ("Gametiks_logo.png") %><br><br>
  <%= image_tag ("gametiks_subtitle.png") %><br><br><br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

