<p id="notice"><%= notice %></p>

<h1>Gallery</h1>

<table class="gallery">
  <tr><% @harvests.each do |harvest| %>
    <td><%= image_tag harvest.image_url(:thumb) %>
    </td>
    
  </tr><% end %>
</table>


<%= link_to 'New Harvest', new_harvest_path %>
