
.badges {
  display: block;
 
  
 
  h3 {
    font-family: impact;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  li {
    margin: 10px 0 0 0;
    display: block;
    width: 220px;
  }
}