// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// variables
$gametiks-gray: rgb(192,192,192);
$gametiks-green: #384947;
$gray-medium-light: #eaeaea;

h3, h4 {
  font-family: arial;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 10px;
    }
    /* Users Level */

    .user_points {
      width: 220px;
      background-color: black;
      margin: 0;
      padding: 6px;
      color: white;
      font-size: 20px;
      text-align: right;
      display: block;
    }
    
    .user_level {
      font-family: impact;
      width: 220px;
      height: 120px;
      background-color: $gametiks-green;
      padding-top: 50px;
      letter-spacing: 3px;
      color: $gametiks-gray;
      font-size: 100px;
      text-align: center;
      display: block;
    }
    
    .score_font {
      font-size: 10px;
      font-family: arial;
      vertical-align: bottom;
    }
  }
}

  