// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// variables
$gametiks-gray: rgb(192,192,192);
$gametiks-green: #384947;
$gray-medium-light: #eaeaea;
$gametiks-orange: #ff9a00;
$gametiks-tech-green: #65e52c;
$gametiks-transparent-green: rgba(56,73,71,0.4);
$gametiks-transparent-gray: rgba(0,0,0,0.2);

h2 {
      color: $gametiks-tech-green;
      font-family: tahoma;
      display: inline;
      font-size: 12px;
      vertical-align: bottom;
      padding: 0 0 0 4px;
    }
    
h3, h4 {
  font-family: arial;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
}

.row {
  margin: 0;
  padding: 0;
}

/* sidebar */

.gamercard {
  background-color: $gametiks-transparent-gray;
  width: 100%;
  border-radius: 5px;
  padding: 2px;
}

aside {
  margin: 0;
  padding: 0;
  
  .user-info {
    margin: 0;
    text-align: left;
  }
    
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
    
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 10px;
  }

  .user_points {
    width: 220px;
    background-color: black;
    margin: 0;
    padding: 6px;
    color: white;
    font-size: 20px;
    text-align: right;
    display: block;
  }
  
  .user_level {
    font-family: impact;
    width: 220px;
    height: 120px;
    background-color: $gametiks-green;
    padding-top: 50px;
    letter-spacing: 3px;
    color: $gametiks-gray;
    font-size: 100px;
    text-align: center;
    display: block;
  }
  
  .score_font {
    font-size: 10px;
    font-family: arial;
    vertical-align: bottom;
  }
  
}

/* Map */ 

#map-container {
   border-radius: 5px;
   background-color: $gametiks-transparent-gray;
   border-color: $gametiks-transparent-gray;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   border-width: 2px;
   padding: 10px;
   margin: 0;
 }
 
 #map {
   height: 384px;
   width: 100%;
   margin: 0;
   padding: 0;
 }
 
/* LCD Tech Background and Border */

.lcd {
  background-color: $gametiks-transparent-gray;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
  border-color: $gametiks-transparent-gray;
  border-width: 2px;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
}

/* Harvest Catalog */

.harvest-catalog {
  background-color: $gametiks-transparent-gray;
  margin: 10px 0 0 0;
  padding: 10px;
  border-radius: 5px;
  border-color: $gametiks-transparent-gray;
  border-width: 2px;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  
  .harvest_block {
    margin: 0 auto;
    border-bottom: 1px solid $gametiks-gray;
  }
  
  .harvest_data {
  padding: 20px;
  background-color: $gametiks-green;
  color: $gametiks-gray;
  text-align: left;
  font-size: 12px;
  line-height: 22px;
  width: 400px;
  }
  
  .harvest_category {
    background-color: $gametiks-green;
  }
}






  