<footer class="footer">
  <small>
    ©GAMETIKS.COM | Site developed by <a href="http://www.loblein.com">Eldon Loblein</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>